.container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 4rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  flex-grow: 1;
}

@media (max-width: 768px) {
  .container {
    padding: 0;
    padding-top: 4rem;
  }
}

.page-display {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: antiquewhite;
}
